@import 'common/mixins';
@import 'common/variables';
@import 'common/common';
@import 'elements/header';
@import 'elements/social';
@import 'elements/pageTitle';
@import 'elements/footer';
@import 'pages/index';
@import 'pages/contacts';