@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans'), local('PTSans-Regular'),
        url('../fonts/ptsans.woff2') format('woff2'),
        url('../fonts/ptsans.woff') format('woff'),
        url('../fonts/ptsans.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSans-Bold'),
        url('../fonts/ptsansbold.woff2') format('woff2'),
        url('../fonts/ptsansbold.woff') format('woff'),
        url('../fonts/ptsansbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

html,
body {
    font-family: "PT Sans", sans-serif;
    font-size: 14px;
    height: 100%;
    line-height: 1.5;
}

.pl40 {
    padding-left: 40px;
}

#page-content {
    flex: 1 0 auto;
}

#sticky-footer {
    flex-shrink: none;
}

a {
    transition: all .3s ease;
    outline : none;
    color: #000000;
    &:hover {
        color: #000000;
    }
}
.i-map::after{
    content:'';
    display:block;                    
    height:29px;
    width:20px;
    background:get-icon('map-icon', $yellow, 20) center center no-repeat;
    position:absolute;
    top:50%;
    left: 0;
    margin-top:-14px;
}
.i-phone::after{
    border-radius:50%;
    content:'';
    display:block;
    height:29px;
    width:29px;
    background:get-icon('phone-icon', $blue, 14) center center no-repeat;
    position:absolute;
    top:50%;
    left: 0;
    margin-top:-14px;
    background-color: $yellow;
}
.addresText {
    position: relative;
    font-size: 16px;
    padding-left: 40px;
    &.phone {
        font-weight: bold;
    }
    a {
        color: white;
        text-decoration: none;
    }
}
.yellowButton {
    display: inline-flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 0 12px 2px 12px;
    font-size: 18px;
    font-weight: bold;
    height: 45px;
    transition: background-color 0.3s ease;
    background-color: $yellow;
    color: $blue;
    cursor: pointer;
    text-align: center;
    border-radius:3px;
    &:hover {
        background-color: $yellow-hover;
    }
    line-height: 1;
}
.simpleTitle {
    padding: 5px 0 5px 40px;
    border-left: solid 5px;
    border-color: $yellow;
    margin-bottom: 45px;
    line-height: 1 !important;
    color: black;
    .subTitle {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        h1, h2, h3, h4, h5, h6 {
            font-size: 30px;
            font-weight: bold;
            line-height: 1;
        }
    }
}
.simpleForm {
    input, textarea {
        position: relative;
        z-index: 1;
        border-color: transparent;
        font-size: 14px;
        color: $input-text;
        line-height: 40px;
        height: 45px;
        border-bottom: 1px $gray solid;    
        padding: 0;        
        position: relative;
        width: 100%;
        transition: all .15s;
        &::placeholder {
            color: $input-text;
            opacity: 1;
        }
        &:focus {
            padding-left: 5px;
        }
    }
    .input-wrapper {
        margin-bottom: 35px;
        position: relative;
        input {
            background: none;
        }
        textarea {
            min-height: 135px;
            background: url(../img/textarea-bg.png);
            display: block;
            background-attachment: local;
            border: 0;
            line-height: 3.25;
        }
        input, textarea {
            outline: none;
            &:focus + span {
                height: 100%;
                border-color: #000;
            }
        }
        span {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: #f7f7f7;
            border-top: 1px #ebebeb solid;
                border-top-color: rgb(235, 235, 235);
            transition: all .15s;
            -webkit-transition: all .15s;
        }
    }
}

.ulCustom {  
    margin: 0;
    padding: 0 0 0 75px;
    position: relative;
    list-style: none;
    li {
        margin-top: 40px;
        &:before {
            content:'';
            display:block;
            width:38px;
            height:38px;
            background:get-icon('check-circle', $blue, 38) center center no-repeat;
            position:absolute;
            left: 10px;
        }
    }
}

.tableCustom {
    color: $text-on-white;
    font-size: 14px;
    width: 100%;
    %last:last-child {
        padding-left: 12px;
        width: 228px;
    }
    thead {
        font-size: 18px;
        background-color: $table-custom-th-background;
        th {
            padding: 25px;
            &:last-child {
                @extend %last;
            }
        }
    }
    tr {
        td {
            padding: 15px 25px;
            border-bottom: 1px solid $table-custom-th-background;
            &:first-child {
                border-right: 1px solid $table-custom-th-background;
            }
            &:last-child {
                @extend %last;
            }
        }
    }
}
/** Требует структуры <div><span></span><img /></div> */
%adaptiveImage {
    white-space: nowrap;
    text-align: center;
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    img {
        max-width: 100%;
        height: auto;
        max-height:100%;
        vertical-align: middle;
    }
}