$icons: (
    arrow-down: '<svg xmlns="http://www.w3.org/2000/svg" width="%%WIDTH%%" viewBox="0 0 448 512"><path fill="%%COLOR%%" d="M207.029 381.476L12.686 187.132c-9.373-9.373-9.373-24.569 0-33.941l22.667-22.667c9.357-9.357 24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 24.544-9.317 33.901.04l22.667 22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 381.476c-9.373 9.372-24.569 9.372-33.942 0z"/></svg>',
    map-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="%%WIDTH%%" viewBox="0 0 384 512"><path fill="%%COLOR%%" d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z"/></svg>',
    phone-icon: '<svg xmlns="http://www.w3.org/2000/svg" width="%%WIDTH%%" viewBox="0 0 512 512"><path fill="%%COLOR%%" d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z"/></svg>',
    check-circle: '<svg xmlns="http://www.w3.org/2000/svg" width="%%WIDTH%%" viewBox="0 0 512 512"><path fill="%%COLOR%%" d="M504 256c0 136.967-111.033 248-248 248S8 392.967 8 256 119.033 8 256 8s248 111.033 248 248zM227.314 387.314l184-184c6.248-6.248 6.248-16.379 0-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628 0L216 308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628 0l-22.627 22.627c-6.248 6.248-6.248 16.379 0 22.627l104 104c6.249 6.249 16.379 6.249 22.628.001z"/></svg>',
    star: '<svg xmlns="http://www.w3.org/2000/svg" width="%%WIDTH%%" viewBox="0 0 576 512"><path fill="%%COLOR%%" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg>'
);
$data-svg-prefix: "data:image/svg+xml,";
$encoding-reference: (
  ('<','%3C'),
  ('>','%3E'),
  ('"','\''),
  ('#','%23'),
  ('&','%26')
);

@function svg-encode($svg) {
  @return 'data:image/svg+xml,' + $svg;
}
@function str-replace( $string, $search, $replace: '' ) {
  $index: str-index( $string, $search );
  @if $index {
    @return str-slice( $string, 1, $index - 1 ) + $replace + str-replace( str-slice( $string, $index + str-length( $search ) ), $search, $replace);
  }
  @return $string;
}
@function get-icon($icon, $color: #fff, $width: 10) {
    $icon:        map-get($icons, $icon);
    $placeholder-color: '%%COLOR%%';
    $placeholder-width: '%%WIDTH%%';
    $svg: str-replace($icon, $placeholder-color, $color);
    $svg: str-replace($svg, $placeholder-width, $width);
    @each $char, $encoded in $encoding-reference {
      $svg: str-replace($svg, $char, $encoded);
    }
    @return url($data-svg-prefix + $svg);
}