/** ВНИМАНИЕ! использовать svg в url encode. https://www.urlencoder.io/ */
$data-svg-prefix: "data:image/svg+xml,";
@function get-arrow-down-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M207.029%20381.476L12.686%20187.132c-9.373-9.373-9.373-24.569%200-33.941l22.667-22.667c9.357-9.357%2024.522-9.375%2033.901-.04L224%20284.505l154.745-154.021c9.379-9.335%2024.544-9.317%2033.901.04l22.667%2022.667c9.373%209.373%209.373%2024.569%200%2033.941L240.971%20381.476c-9.373%209.372-24.569%209.372-33.942%200z%22%2F%3E%3C%2Fsvg%3E';
}
@function get-map-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20384%20512%22%3E%3Cpath%20fill%3D%22%23#{$color}%22%20d%3D%22M172.268%20501.67C26.97%20291.031%200%20269.413%200%20192%200%2085.961%2085.961%200%20192%200s192%2085.961%20192%20192c0%2077.413-26.97%2099.031-172.268%20309.67-9.535%2013.774-29.93%2013.773-39.464%200zM192%20272c44.183%200%2080-35.817%2080-80s-35.817-80-80-80-80%2035.817-80%2080%2035.817%2080%2080%2080z%22%2F%3E%3C%2Fsvg%3E';
}
@function get-phone-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M497.39%20361.8l-112-48a24%2024%200%200%200-28%206.9l-49.6%2060.6A370.66%20370.66%200%200%201%20130.6%20204.11l60.6-49.6a23.94%2023.94%200%200%200%206.9-28l-48-112A24.16%2024.16%200%200%200%20122.6.61l-104%2024A24%2024%200%200%200%200%2048c0%20256.5%20207.9%20464%20464%20464a24%2024%200%200%200%2023.4-18.6l24-104a24.29%2024.29%200%200%200-14.01-27.6z%22%2F%3E%3C%2Fsvg%3E';
}
@function get-check-circle-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M504%20256c0%20136.967-111.033%20248-248%20248S8%20392.967%208%20256%20119.033%208%20256%208s248%20111.033%20248%20248zM227.314%20387.314l184-184c6.248-6.248%206.248-16.379%200-22.627l-22.627-22.627c-6.248-6.249-16.379-6.249-22.628%200L216%20308.118l-70.059-70.059c-6.248-6.248-16.379-6.248-22.628%200l-22.627%2022.627c-6.248%206.248-6.248%2016.379%200%2022.627l104%20104c6.249%206.249%2016.379%206.249%2022.628.001z%22%2F%3E%3C%2Fsvg%3E';
}
@function get-star-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20576%20512%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M259.3%2017.8L194%20150.2%2047.9%20171.5c-26.2%203.8-36.7%2036.1-17.7%2054.6l105.7%20103-25%20145.5c-4.5%2026.3%2023.2%2046%2046.4%2033.7L288%20439.6l130.7%2068.7c23.2%2012.2%2050.9-7.4%2046.4-33.7l-25-145.5%20105.7-103c19-18.5%208.5-50.8-17.7-54.6L382%20150.2%20316.7%2017.8c-11.7-23.6-45.6-23.9-57.4%200z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E';
}
@function get-menu-icon($color: #fff, $width: 10) {
  @return '%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22#{$width}%22%20viewBox%3D%220%200%20448%20512%22%3E%3Cpath%20fill%3D%22#{$color}%22%20d%3D%22M16%20132h416c8.837%200%2016-7.163%2016-16V76c0-8.837-7.163-16-16-16H16C7.163%2060%200%2067.163%200%2076v40c0%208.837%207.163%2016%2016%2016zm0%20160h416c8.837%200%2016-7.163%2016-16v-40c0-8.837-7.163-16-16-16H16c-8.837%200-16%207.163-16%2016v40c0%208.837%207.163%2016%2016%2016zm0%20160h416c8.837%200%2016-7.163%2016-16v-40c0-8.837-7.163-16-16-16H16c-8.837%200-16%207.163-16%2016v40c0%208.837%207.163%2016%2016%2016z%22%2F%3E%3C%2Fsvg%3E';
}

@function get-icon($icon, $color: #fff, $width: 10) {
    @if ($icon == "arrow-down") {
        @return url($data-svg-prefix + get-arrow-down-icon($color, $width));
    }
    @if ($icon == "map-icon") {
        @return url($data-svg-prefix + get-map-icon($color, $width));
    }
    @if ($icon == "phone-icon") {
        @return url($data-svg-prefix + get-phone-icon($color, $width));
    }
    @if ($icon == "check-circle") {
        @return url($data-svg-prefix + get-check-circle-icon($color, $width));
    }
    @if ($icon == "star") {
        @return url($data-svg-prefix + get-star-icon($color, $width));
    }
    @if ($icon == "menu") {
        @return url($data-svg-prefix + get-menu-icon($color, $width));
    }
    @return "";
}