$background: #ffffff;
$gray: #cbccc6;
$gray-light: #dde0e3;
$blue: #223048;
$blue-svg: 223048;
$blue-light: #9caac1;
$yellow: #ffed00;
$yellow-svg: ffed00;
$yellow-hover: #fff17b;
$input-text: #000000;
$text-on-white: #5c5c5c;
$slider-dots: #a3a1a1;
$slider-dots-active: $yellow;
$text-on-dark: #ffffff;