#aboutPage {
    text-align: center;
    div.oils {
        background-color: $blue;
        color: $text-on-dark;
        margin: 0 auto;
        padding: 134px 0 80px 0;
        .container {
            position: relative;
        }
        .gradR, .gradL {
            background: rgb(34,48,72);
            background: linear-gradient(90deg, rgba(34,48,72,0) 0%, rgba(34,48,72,0.5382353625043768) 75%, rgba(34,48,72,1) 100%);
            position: absolute;
            height: 127px;
            width: 60px;
            right: 15px;
            margin-top: -112px;
        }
        .gradL {
            right: unset;
            left: 15px;
            transform: rotate(180deg);
        }
        .middleTitle {
            padding-top: 30px;
        }
        .bottomTitle {
            padding-top: 30px;
            font-size: 18px;
            color: $text-blue-gray;
        }

        .oils_slick {
            padding-top: 40px;
            margin: 0 auto;
            .slick-slide {
                background-color: white;
                width: 133px;
                height: 97px;
                margin-left: 35px;
                &:first-child {
                    margin-left: 0;
                }
                position: relative;
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -ms-transform: translateY(-50%) translateX(-50%);
                    transform: translateY(-50%) translateX(-50%);
                }
            }
        }
        .slickButtons {
            margin-top: 47px;
            button {
                width: 56px;
                height: 56px;
                border: 3px solid $text-on-dark;
                background: get-icon('arrow-down', $text-on-dark-svg, 10) center center no-repeat;
                &:hover {
                    transition: all 0.3s ease;
                    border: 3px solid $yellow;
                    background: get-icon('arrow-down', $yellow-svg, 10) center center no-repeat;
                }
                &.slickLeft {
                    transform: rotate(90deg);
                }
                &.slickRight {
                    margin-left: 28px;
                    transform: rotate(-90deg);
                }
                &:focus {
                    outline: 0;
                }
            }
        }
    }

    div.reviewsBlock {
        margin: 0 auto;
        display: inline-block;
        text-align: left;
        padding-bottom: 115px;
        .reviewHeader {
            display: inline-block;
            width: 390px;
            padding-right: 35px;
            padding-bottom: 50px;
            font-size: 18px;
            vertical-align: top;
            div:first-child {
                font-size: 120px;
                font-weight: bold;
                letter-spacing: -5px;
                color: $yellow;
            }
            h3 {
                font-size: 30px;
            }
            p:last-child {
                font-size: 18px;
                color: $text-on-white;
            }
            .reviewsDots {
                ul {
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    overflow: hidden;
                    li {
                        float: left;
                        width: 30px;
                        height: 5px;
                        margin-right: 15px;
                        margin-bottom: 10px;
                        &:first-child {
                            margin-left: 0;
                        }
                        &.slick-active > button {
                            transition: all 0.3s ease;
                            background-color: $yellow;
                        }
                        button {
                            background-color: $blue;
                            border: none;
                            width: inherit;
                            height: inherit;
                            display: block;
                            overflow: hidden;
                            &:focus {
                                outline: 0;
                            }
                        }
                    }
                }
            }
        }
        .reviews {
            padding-top: 105px;
            display: inline-block;
            width: 776px;
            .reviewSlick {
                .slick-slide {
                    background-color: $review-gray-background;
                    padding: 50px 29px 50px 40px;
                    display: inline-block;
                    width: 363px;
                    min-height: 363px;
                    margin-left: 25px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:focus {
                        outline: 0;
                    }
                    > p {
                        margin-bottom: 35px;
                    }
                    .circular--landscape {
                        width: 65px;
                        height: 65px;
                        position: relative;
                        overflow: hidden;
                        border-radius: 50%;
                        display: inline-block;
                        img {
                            display: inline;
                            margin: 0 auto;
                        }
                    }
                    .authorBlock {
                        display: inline-block;
                        padding-left: 29px;
                        vertical-align: top;
                        font-size: 18px;
                        p {
                            margin-bottom: 0;
                        }
                        .rating {
                            div {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                background: get-icon('star', $gray-svg, 16) center center no-repeat;
                                &.filled {
                                    background: get-icon('star', $yellow-svg, 16) center center no-repeat;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 1200px - 0.01px) {
    #aboutPage {
        div.oils {
            padding: 90px 0 70px 0;
            .middleTitle {
                padding-top: 20px;
            }
            .bottomTitle {
                padding-top: 25px;
            }
        }
    }
}

@media (max-width: 992px - 0.01px) {
    #aboutPage {
        div.oils {
            padding: 50px 0 50px 0;
            .middleTitle {
                padding-top: 15px;
            }
            .bottomTitle {
                padding-top: 15px;
            }
        }
    }
    #aboutPage div.reviewsBlock .reviews {
        padding-top: 0;
    }
    #aboutPage div.reviewsBlock .reviewHeader {
        padding-bottom: 10px;
    }
    #aboutPage div.reviewsBlock {
        padding-bottom: 50px;
    }
}

@media (max-width: 768px - 0.01px) {
    #aboutPage {
        div.oils {
            padding: 40px 0 40px 0;
            .middleTitle {
                padding-top: 10px;
            }
            .bottomTitle {
                padding-top: 10px;
            }
        }
    }
}

@media (max-width: 576px - 0.01px) {

}