.date {
  font-size: 24px;
  span {
    margin: 0 20px;
  }
}
#newBlock {
  font-size: 18px;
  margin-bottom: 115px;
  img {
    margin: 0 20px 20px 20px;
    width: 50%
  }
}
@media (max-width: 768px - 0.01px) {
    #newBlock {
        .simpleTitle {
          margin-bottom: 25px;
        }
        .float-right {
            float: none !important;
            margin: 0 0 20px 0;
            width: 100%;
        }
    }
}