a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.servicesItems {
  .col {
    height: 500px;
    a {
      cursor: pointer;
      img {
        width: 100%;
      }
      div {
        &.content {
          padding-left: 40px;
          height: 160px;
          overflow-y: hidden;
        }
        div:first-child {
          padding: 10px 5px 5px 0;
          line-height: 1;
          font-size: 24px;
          font-weight: 700;
        }
        &:last-child {
          padding-top: 5px;
          span:first-child {
            font-size: 18px;
            font-weight: 700;
            color: $blue;
            padding-left: 40px;
            text-transform: uppercase;
          }
          span.iconRight {
            vertical-align: text-top;
            display: inline-block;
            height: 16px;
            width: 16px;
            background: get-icon('arrow-down', $blue, 16) center center no-repeat;
            transform: rotate(-90deg);
          }
        }
      }
      &:hover {
        transition: all .3s ease;
        div {
          transition: inherit;
          background-color: $blue;
          div {
            transition: inherit;
            &:first-child {
              color: $text-on-dark;
            }
            &:nth-child(2) {
              color: $text-blue-gray;
            }
          }
          &:last-child {
            span:first-child {
              transition: inherit;
              color: $yellow;
              text-decoration-line: underline;
            }
            span.iconRight {
              transition: inherit;
              background: get-icon('arrow-down', $yellow, 16) center center no-repeat;
            }
          }
        }
      }
    }
  }
}

.servicesBottomBlock {
  position: relative;
  margin: 200px 0 120px 0;
  .container {
    padding: 115px 0;
    background-color: $blue;
    position: relative;
    &:after {
      display: block;
      content: '';
      background-color: $blue;
      top: 0;
      left: 100%;
      position: absolute;
      height: 100%;
      width: 1000px;
      right: 0;
    }
    .imgWrapper {
      padding-right: 0;
      position: relative;
      .img {
        overflow: hidden;
        position: absolute;
        width: 1000px;
        height: 100%;
        right: 0;
        text-align: right;
        img {
          @include centre(y);
        }
      }
    }
    .servicesBottomContent {
      padding-left: 60px;
      color: $text-on-dark;
      font-size: 18px;
      .simpleTitle {
        color: inherit;
        margin-bottom: 50px;
        padding: 15px 0 15px 40px;
      }
      .serviceContentText {
        color: $text-blue-gray;
      }
      .serviceContentPhoneText {
        margin-top: 45px;
        line-height: 1.1;
        text-transform: uppercase;
        color: inherit;
      }
      .serviceContentPhone {
        margin-top: 18px;
        a {
          color: inherit;
          font-size: 24px;
        }
      }
      .yellowButton {
        margin-top: 40px;
        max-width: 245px;
      }
    }
  }

}