a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.servicesItems {
  flex: 1 0 auto;
  margin-bottom: 200px;
  .col {
    height: 540px;
    position: relative;
    margin-bottom: 15px;
    a > div {
      cursor: pointer;
      img {
        width: 100%;
      }
      div {
        &.content {
          padding: 0 15px 0 40px;
        }
        div:first-child {
          padding: 10px 5px 5px 0;
          line-height: 1;
          font-size: 24px;
          font-weight: 700;
        }
        &.serviceItemMoreButton {
          padding-top: 5px;
          position: absolute;
          top: calc(100% - 72px);
          span:first-child {
            font-size: 18px;
            font-weight: 700;
            color: $blue;
            padding-left: 40px;
            text-transform: uppercase;
          }
          span.iconRight {
            vertical-align: text-top;
            display: inline-block;
            height: 16px;
            width: 16px;
            background: get-icon('arrow-down', $blue, 16) center center no-repeat;
            transform: rotate(-90deg);
          }
        }
      }
    }
    &:hover {
      transition: all .3s ease;
      a > div {
        transition: inherit;
        height: 100%;
        background-color: $blue;
        div {
          transition: inherit;
          div {
            transition: inherit;
            &:first-child {
              transition: inherit;
              color: $text-on-dark;
            }
            &:nth-child(2) {
              transition: inherit;
              color: $text-blue-gray;
            }
          }
          &.serviceItemMoreButton {
            span:first-child {
              transition: inherit;
              color: $yellow;
              text-decoration-line: underline;
            }
            span.iconRight {
              transition: inherit;
              background: get-icon('arrow-down', $yellow, 16) center center no-repeat;
            }
          }
        }
      }
    }
  }
}

.servicesBottomBlock {
  position: relative;
  margin: 0px 0 120px 0;
  background: linear-gradient(to right, $background 50%, $blue 50%);
  flex: 1 0 auto;
  .container {
    padding: 115px 0;
    background-color: $blue;
    position: relative;
    .imgWrapper {
      padding-right: 0;
      position: relative;
      .img {
        overflow: hidden;
        position: absolute;
        width: 1000px;
        height: 100%;
        right: 0;
        text-align: right;
        display: flex;
        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background: rgba(0,0,0,.2);
          z-index: 2;
        }
        img {
          @include centre(y);
        }
      }
    }
    .servicesBottomContent {
      padding-left: 60px;
      color: $text-on-dark;
      font-size: 18px;
      .simpleTitle {
        color: inherit;
        margin-bottom: 50px;
        padding: 15px 0 15px 40px;
      }
      .serviceContentText {
        color: $text-blue-gray;
      }
      .serviceContentPhoneText {
        margin-top: 45px;
        line-height: 1.1;
        text-transform: uppercase;
        color: inherit;
      }
      .serviceContentPhone {
        margin-top: 18px;
        a {
          color: inherit;
          font-size: 24px;
        }
      }
      .yellowButton {
        margin-top: 40px;
        max-width: 245px;
      }
    }
  }

}