#servicePage {
    #servicesMenu {
        background-color: $service-menu-background;
        padding: 30px 20px 30px 0px;
        .simpleTitle {
            margin-bottom: 20px;
            padding-left: 35px;
        }
        ul {
            padding-left: 40px;
            list-style: none;
            font-size: 18px;
            color: #000;
            line-height: 1.2;
            li {
                margin-bottom: 20px;
                a {
                    text-decoration: underline;
                    &:hover {
                        text-decoration: none;
                    }
                }
                &.active {
                    font-weight: bold;
                    a {
                        text-decoration: none;
                        color: $blue;
                    }
                    &::before {
                        content:'';
                        display:block;
                        width:14px;
                        height:9px;
                        background:get-icon('arrow-down', $blue, 14) center center no-repeat;
                        position:absolute;
                        transform: rotate(270deg);
                        margin-left: -22px;
                        margin-top: 7px;
                        color: $blue;
                    }
                }
            }
        }
    }
    .userContent {
        font-size: 18px;
        color: $text-on-white;
        ul {
            @extend .ulCustom;
            padding-left: 60px;
            li {
                margin-bottom: 27px;
                &::before {
                    left: 0;
                    margin-top: -4px;
                }
            }
            margin-bottom: 50px;
        }
    }
    .yellowButton {
        width: 235px;
        float: right;
        margin-top: 15px;
        height: 55px;
        margin-bottom: 50px;
    }
    .logos {
        clear: both;
        text-align: center;
        margin-bottom: 85px;
        a {
            text-decoration: underline;
            cursor: pointer;
            color: $blue;
            margin-bottom: 40px;
            &:hover {
                text-decoration: none;
            }
            .img {
                height: 80px;
                @extend %adaptiveImage;
                margin-bottom: 10px;
            }
        }
    }
    .reasons {
        margin-bottom: 40px;
        .simpleTitle {
            width: 470px;
        }

        .service {
            padding-bottom: 60px;
            .icon {
                .std {
                    position: absolute;
                    width: 92px;
                    height: 92px;
                    border: $blue 3px solid;
                    background: $background;
                    margin-top: 5px;
                    padding: 12px;
                    @extend %adaptiveImage;
                }
            }
            .info {
                padding-left: 120px;
                .title {
                    line-height: 1;
                    padding-bottom: 12px;
                    font-weight: bold;
                    font-size: 24px;
                }
                .text {
                    font-size: 14px;
                }
            }
        }
    }
}
@media (min-width: 992px) {
    #servicePage #servicesMenu ul {
        display: block !important;
    }
}
@media (max-width: 992px - 0.01px) {
    .tableCustom thead th:last-child, .tableCustom tr td:last-child {
        width: auto;
    }
    #servicesMenu {
        .simpleTitle {
            margin-bottom: 0 !important;
            display: inline-block;
            position: relative;
            cursor: pointer;
            &::before {
                content:'';
                display:block;
                width:20px;
                height:14px;
                background:get-icon('arrow-down', black, 20) center center no-repeat;
                position:absolute;
                transform: rotate(270deg);
                margin-top: 11px;
                color: $blue;
                right: -26px;
                transition:transform .3s ease
            }
            &.opened::before {
                transform: rotate(360deg);
            }
        }
        ul {
            display: none;
            margin-top: 20px;
        }
    }
    #servicePage #servicesMenu ul li.active::before {
        display: none;
    }
}
@media (max-width: 768px - 0.01px) and (min-width: 576px) {
    #servicePage .logos {
        margin-bottom: 40px;
    }
    #contacntsPage {
        padding-bottom: 70px;
    }
    #servicePage .reasons .service .icon .std {
        width: 70px;
        height: 70px;
        padding: 6px;
    }
    #servicePage .reasons .service .info {
        padding-left: 85px;
    }
    #servicePage .reasons .service .info .title {
        font-size: 20px;
        margin-top: 3px;
    }
}
@media (max-width: 576px - 0.01px) {
    #servicePage .logos {
        margin-bottom: 40px;
    }
    #servicePage .reasons .simpleTitle {
        width: auto;
    }
}