footer{
    background-color: $blue;
    color: $blue-light;
    .map {
        background-color: $yellow;
        color: $background;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        height: 436px;
    }
    .bottomLine {
        padding: 70px 0;
        line-height: 1.5;
        .info {
            padding: 0 20px 0 128px;
        }
        .soc {
            float: right;
            padding:28px 0;
        }
        .inquit {
            color: #ffffff;
            clear: both;
            a {
                font-weight: bold;
                color: #ffffff;
            }
        }
        .addresText {
            margin-bottom: 25px;
            &.phone {
                margin-bottom: 35px;
            }
        }
        .yellowButton {
            width: 190px;
        }
    }
}