header {
    .topLine {
        background-color: $blue;
        height: 55px;
        color: #ffffff;
        .row {
            height: 55px;
            > div {
                padding: 0;
                > div, > ul {
                    @include centre(y);
                }
            }
            .yellowButton {
                margin-top: -1px;
            }
        }
    }

    .bottomLine {
        height: 137px;
        padding: 19px 0 19px 0;
        nav {
            margin-top: 32px;
            > ul {
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                max-width: 1000px;
                padding: 0;
                > li {
                    position: relative;
                    margin: 0 0 0 20px;
                    border-bottom: solid 5px;
                    border-color: $background;
                    &.active, &:hover {
                        border-color: $yellow;
                        transition: all .5s ease;
                    }
                    &.parent {
                        padding-right: 25px;
                    }
                    &.parent::after{
                        content:'';
                        display:block;
                        width:14px;
                        height:9px;
                        background:url('data:image/svg+xml;utf8,#{$arrow-down}') center center no-repeat;
                        position:absolute;
                        top:50%;
                        margin-top:-3px;
                        right:8px;
                        transition:transform .3s ease
                    }
                    &.parent:hover::after {
                        transform: rotate(180deg);
                    }
                    &.active {
                        font-weight: bold;
                    }
                    > a {
                        padding: 14px 15px 14px 15px;
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        color: $blue;
                    }
                }
            }
            ul > li.parent:hover .subMenu {
                left: 0;
            }
            .subMenu {
                box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
                float: left;
                position: absolute;
                top: 100%;
                left: -999em;
                z-index: 99999;
                background-color: #fff;
                transition:transform 1.3s ease;
                white-space: nowrap;
                ul {
                    border-left: solid 5px;
                    border-color: $yellow;
                    padding: 13px 27px;
                    list-style: none;
                    a {
                        text-decoration: underline;
                        color: $blue;
                        font-size: 16px;
                        width: 170px;
                        display: block;
                        padding: 9px 0;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .subMenu:before {
                content: "";
                //border-bottom: solid 2px;
                //border-color: $yellow;
                height: 7px;
                width: 100%;
                position: absolute;
                top: -7px;
                background: inherit;
                z-index: 2;
              }
        }
    }
}