header {
    .topLine {
        background-color: $blue;
        height: 55px;
        color: #ffffff;
        .row {
            height: 55px;
            > div {
                padding: 0;
                position: relative;
                > div, > ul {
                    @include centre(y);
                }
            }
            .yellowButton {
                display: flex;
                margin-top: -1px;
            }
        }
        .mobile {
            display: none;
        }
    }

    .bottomLine {
        height: 137px;
        padding: 19px 0 19px 0;
        nav {
            line-height: 1;
            margin-top: 32px;
            > ul {
                list-style: none;
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                max-width: 1000px;
                padding: 0;
                > li {
                    position: relative;
                    margin: 0 0 0 20px;
                    border-bottom: solid 5px;
                    border-color: $background;
                    &.active, &:hover {
                        border-color: $yellow;
                        transition: all .5s ease;
                    }
                    &.parent {
                        padding-right: 25px;
                    }
                    .linkSubMobile {
                        display: none !important;
                    }
                    &.parent::after {
                        content:'';
                        display:block;
                        width:14px;
                        height:9px;
                        background:get-icon('arrow-down', $blue, 14) center center no-repeat;
                        position:absolute;
                        top:50%;
                        margin-top:-3px;
                        right:8px;
                        transition:transform .3s ease;
                    }
                    &.parent:hover::after {
                        transform: rotate(180deg);
                    }
                    &.active {
                        font-weight: bold;
                    }
                    > a, .linkSubMobile {
                        padding: 14px 15px 14px 15px;
                        display: block;
                        text-decoration: none;
                        font-size: 18px;
                        color: $blue;
                    }
                }
            }
            ul > li.parent:hover .subMenu {
                left: 0;
            }
            .subMenu {
                box-shadow: 0 0 6px 0 rgba(0,0,0,.5);
                float: left;
                position: absolute;
                top: 100%;
                left: -999em;
                z-index: 99999;
                background-color: #fff;
                transition:transform 1.3s ease;
                white-space: nowrap;
                ul {
                    border-left: solid 5px;
                    border-color: $yellow;
                    padding: 13px 27px;
                    list-style: none;
                    a {
                        text-decoration: underline;
                        color: $blue;
                        font-size: 16px;
                        width: 170px;
                        display: block;
                        padding: 9px 0;
                        &:hover {
                            text-decoration: none;
                        }
                    }
                }
            }
            .subMenu:before {
                content: "";
                height: 7px;
                width: 100%;
                position: absolute;
                top: -7px;
                background: inherit;
                z-index: 2;
              }
        }
    }
}

@media (max-width: 1200px - 0.01px) {
    header {
        .topLine {
                .i-map {
                    padding-right: 10px;
                    line-height: 1;
                }
        }
        .bottomLine {
            nav {
                > ul {
                    > li {
                        margin-left: 10px;
                        > a {
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 992px - 0.01px) {
    header {
        .bottomLine {
            img {
                width: 80px;
            }
            nav {
                margin-top: 16px;
                > ul {
                    > li {
                        margin-left: 6px;
                        > a {
                            padding-left: 7px;
                            padding-right: 7px;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header .bottomLine .menu nav ul li .subMenu {
        display: block !important;
    }
}

@media (max-width: 768px - 0.01px) {
    header {
        .bottomLine {
            .menu {
                position: absolute;
                top: -100%;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: 1;
                padding-top: 55px;
                background-color: $mobile-menu-background;
                overflow-x: scroll;
                nav {
                    max-width: 540px;
                    margin-left: auto;
                    margin-right: auto;
                    ul {
                        display: block;
                        li {
                            border-bottom: none;
                            padding-left: 20px;
                            position: unset;
                            display: block;
                            &.parent{
                                position: relative;

                                &::after {
                                    display:none;
                                }
                            }
                            .linkSub {
                                display: none;
                            }
                            .linkSubMobile {
                                display: inline-block !important;
                                padding-left: 7px;
                                font-size: 24px;
                                position: relative;
                                cursor: pointer;
                                &::before {
                                    content: '';
                                    position: absolute;
                                    display: block;
                                    width:17px;
                                    height:11px;
                                    background:get-icon('arrow-down', $blue, 17) center center no-repeat;
                                    transform: rotate(270deg);
                                    right: -10px;
                                    margin-top: 8px;
                                    transition:transform .3s ease
                                }
                                &.opened::before {
                                    transform: rotate(360deg);
                                }
                            }
                            &.active {
                                border-left: 5px solid $yellow;
                                padding-left: 15px;
                            }
                            .subMenu {
                                display: none;
                                position: relative;
                                top: unset;
                                left: unset;
                                width: 100%;
                                box-shadow: unset;
                                background: none;
                                ul {
                                    border: none;
                                    padding-top: 0px;
                                    margin-top: -2px;
                                    .active {
                                        font-weight: bold;
                                        border: none;
                                        padding-left: 20px;
                                    }
                                    a {
                                        text-decoration: none;
                                        &:hover {
                                            text-decoration: underline;
                                        }
                                    }
                                }
                            }
                            a {
                                font-size: 24px;
                            }
                        }
                    }
                }
            }
            .float-left {
                @include centre(y);
            }
            .info {
                float: right;
                color: $blue !important;
                width: 240px;
                @include centre(y);
                a {
                    color: $blue !important;
                }
                .i-map {
                    margin-bottom: 15px;
                    &:after {
                        left: 5px;
                    }
                }
            }
        }
        .topLine {
            z-index: 2;
            position: relative;
            .yellowButton {
                font-size: 16px;
            }
            .i-menu {
                width: 30px;
                height: 30px;
                background: get-icon('menu', $yellow, 30) center center no-repeat;
                cursor: pointer;
            }
            .soc {
                text-align: center;
                ul {
                    display: block;
                    li {
                        display: inline-block;
                    }
                }
            }
            .i-phone {
                cursor: pointer;
                width: 29px;
                height: 29px;
                float: right;
                &:after {
                    position: relative;
                    margin-top: unset;
                    top: unset;
                }
            }
        }
    }
}

@media (max-width: 576px - 0.01px) {
    .topLine {
        .row {
            margin-left: 0px;
            margin-right: 0px;
        }
    }
}