#pageTitle {
    line-height: 1;
    .bgImage {
        display:block;
        height:280px;
        background:center center no-repeat;
        position:absolute;
        width: 100%;
    }
    .container {
        padding-top: 186px;
        .mx-auto {
            width: 580px;
            padding: 60px 30px;
            text-align: center;
            position: relative;
            background-color: $background;
            box-shadow: 0 0px 9px 0px rgba(0,0,0,.2);
            margin-bottom: 130px;
            .title, .title h1 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 25px;
                line-height: 1;
            }
            .breadCrumbs {
                text-transform: uppercase;
            }
        }
    }
}