#pageTitle {
    line-height: 1;
    .bgImage {
        display:block;
        height:280px;
        position:absolute;
        width: 100%;
        overflow: hidden;
        img {
            @include centre(both);
        }
    }
    .container {
        padding-top: 186px;
        .mx-auto {
            width: 580px;
            padding: 60px 30px;
            text-align: center;
            position: relative;
            background-color: $background;
            box-shadow: 0 0px 9px 0px rgba(0,0,0,.2);
            margin-bottom: 130px;
            .title, .title h1 {
                font-size: 48px;
                font-weight: bold;
                margin-bottom: 25px;
                line-height: 1;
            }
            .breadCrumbs {
                text-transform: uppercase;
            }
        }
    }
}

@media (max-width: 992px - 0.01px) {
    #pageTitle .container {
        padding-left: 0px !important;
        padding-right: 0px !important;
        .mx-auto {
            padding-top: 40px;
            padding-bottom: 40px;
            margin-bottom: 100px;
        }
    }
}

@media (max-width: 768px - 0.01px) {
    #pageTitle .container .mx-auto {
        margin-bottom: 70px;
        width: unset;
        max-width: 450px;
        .title, .title h1 {
            font-size: 30px;
            margin-bottom: 18px;
        }
    }

}

@media (max-width: 520px - 0.01px) {
    #pageTitle .container .mx-auto {
        .title, .title h1 {
            font-size: 27px;
            margin-bottom: 15px;
        }
        .breadCrumbs a {
            font-size: 13px;
        }
    }
}