.soc ul {
    list-style:none;
    margin:0;
    padding:0;
    display:flex;
}
.soc li {
    padding:0 2px;
}
.soc-item a {
    display:flex;
    justify-content:center;
    align-items:center;
    width:29px;
    height:29px;
    border-radius:50%;
    background-color:$gray-light;
    color:#fff;
    text-align:center;
    font-size: 12px;
}
.soc-item svg {
    height:1.43em;
    vertical-align:middle;
}
.soc-item--vk a{
    background-color:#306b9b
}
.soc-item--insta a {
    background-image:linear-gradient(234deg,#9700e5,#e5007e 50%,#ffe400 99%);
}
.soc-item--ok a {
    background-color:#ff9000;
}
.soc-item a:hover, .soc-item a:focus {
    opacity:.75;
}